<li><%= gravatar_for user %>
    <%= link_to user.name, user_url(user.id) %>

 <% if current_user.admin && !current_user?(user) %>
        | <%= link_to " Delete", user, method: :delete %>
  <% end %>
</li>
